<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD
  Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>
<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"-->
<!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"-->
<!--version="3.1">-->

<web-app>

    <servlet>
        <servlet-name>MainFrameServlet</servlet-name>
        <servlet-class>web.MainFrameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentFrameServlet</servlet-name>
        <servlet-class>web.StudentFrameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupListServlet</servlet-name>
        <servlet-class>web.GroupListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainFrameServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentFrameServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupListServlet</servlet-name>
        <url-pattern>/groupListServlet</url-pattern>
    </servlet-mapping>

    <!--С другой шапкой не работает-->
    <taglib>
        <taglib-uri>
            http://www.someurl.ru
        </taglib-uri>
        <taglib-location>
            /WEB-INF/tldFiles/helloCustomTag.tld
        </taglib-location>
    </taglib>

    <!--Ниже представлен ресурс. Отметим, что при таком описании контейнер берет на себя все заботы по поддержанию коннекта к базе. Причем не одного, а целого пула — несколько штук коннектов. Это удобно тем, что создание коннекта — дело сложное, долгое и ресурсоемкое. Если мы имеем некоторый запас свободных коннектов — это ускоряет работу.-->
    <!--Для того, чтобы Tomcat знал какие параметры он должен подставить нам необходим еще один файл — context.xml.-->
    <!--Корректно было бы при каждом запросе запрашивать коннект из пула, работать с ним и в конце честно закрывать/отдавать обратно в пул.-->
    <resource-ref>
        <description>DB Connection</description> <!--Описание ресурса-->
        <res-ref-name>jdbc/StudentsDS</res-ref-name> <!--имя, по которому мы будем запрашивать ресурс через JNDI-->
        <res-type>javax.sql.DataSource</res-type> <!--описали тип/класс возвращаемого ресурса-->
        <res-auth>Container</res-auth> <!--указали кто отвечает за авторизацию — будет ли приложение само подставлять логин и пароль или этим будет заниматься контейнер-->
    </resource-ref>

</web-app>